“{% extends "_base.html" %}
{% block content %}

<h1>Welcome to Lab.co.de</h1>
<br>
<a href="/logout">Logout</a>
<div class="add-task">
  <h3>Add a new product:</h3>
      <form action="{{ url_for('new_product') }}" method="post">
      {{ form.csrf_token }}     
          <p>
          {{ form.donor_Id.label }}: {{ form.donor_Id }}<br>
          {{ form.product_Code.label }}: {{ form.product_Code }}<br>
          {{ form.blood_Group.label }}: {{ form.blood_Group }}<br>
          {{ form.exp_Date.label }}: {{ form.exp_Date }}<br>
          {{ form.product_Vol.label }}: {{ form.product_Vol }}
          </p>
          <p><input type="submit" value="Submit"></p>   
      </form>
</div>
<div class="entries">
  <br>
  <br>
  <h2>Open Products:</h2>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="50px"><strong>Donor ID</strong></th>
          <th width="50px"><strong>Product Code</strong></th>
          <th width="10px"><strong>Blood Group</strong></th>
          <th width="50px"><strong>Exp Date</strong></th>
          <th width="80px"><strong>Vol</strong></th>
          <th width="50px"><strong>Posted By</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for product in open_products %}
        <tr>
          <td width="50px">{{ product.donor_Id }}</td>
          <td width="50px">{{ product.product_Code }}</td>
          <td width="10px">{{ product.blood_Group }}</td>
          <td width="50px">{{ product.exp_Date }}</td>
          <td width="80px">{{ product.product_Vol }}</td>
          <td width="50px">{{ product.poster.name }}</td>
          <td>
            <a href="{{ url_for('delete_entry', product_id = product.product_id) }}">Delete</a>  -
            <a href="{{ url_for('complete', product_id = product.product_id) }}">Mark as Complete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  </div>
  <br>
  <br>

<div class="entries">
  <h2>Closed Products:</h2>
  <div class="datagrid">
    <table>
      <thead>
      <tr>
          <th width="50px"><strong>Donor ID</strong></th>
          <th width="50px"><strong>Product Code</strong></th>
          <th width="10px"><strong>Blood Group</strong></th>
          <th width="50px"><strong>Exp Date</strong></th>
          <th width="80px"><strong>Vol</strong></th>
          <th width="50px"><strong>Posted By</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for product in closed_products %}
        <tr>
          <td width="50px">{{ product.donor_Id }}</td>
          <td width="50px">{{ product.product_Code }}</td>
          <td width="10px">{{ product.blood_Group }}</td>
          <td width="50px">{{ product.exp_Date }}</td>
          <td width="80px">{{ product.product_Vol }}</td>
          <td width="50px">{{ product.poster.name }}</td>
          
        <td>
          <a href="{{ url_for('delete_entry', product_id = product.product_id) }}">Delete</a>
        </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
