{% extends "_base.html" %}
{% block content %}

<h1>Welcome to Lab.co.de</h1>
<br>
<div class="container">
  <h3>Add a new Product:</h3>

    <form  class="form-inline" action="{{ url_for('new_product') }}" method="post">
      {{ form.csrf_token }}
      
      {{ form.donor_Id(placeholder="donor_Id", id="field") }}
      <span class="error">
        {% if form.donor_Id.errors %}
          {% for error in form.donor_Id.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
   
     
      {{ form.product_Code(placeholder="product_Code", id="prNum") }}
      <span class="error">
        {% if form.product_Code.errors %}
          {% for error in form.product_Code.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
     
     
      {{ form.blood_Group(placeholder="blood_Group", id="typeNum") }}
      <span class="error">
        {% if form.blood_Group.errors %}
          {% for error in form.blood_Group.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
     

    
      {{ form.exp_Date(placeholder="exp_Date",id="dateNum") }}
      <span class="error">
        {% if form.exp_Date.errors %}
          {% for error in form.exp_Date.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
     
     
     
      {{ form.product_Vol(placeholder="product_Vol") }}
      <span class="error">
        {% if form.product_Vol.errors %}
          {% for error in form.product_Vol.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    
      <input type="submit" value="Add">
    </form>
</div>


<div class="container">

  <br>
  <h2>Open Products:</h2>
  <div class="datagrid">
    <table class="table table-border table-hover">
      <thead>
        <tr>
         <th ><strong>Donor ID</strong></th>
          <th ><strong>Product Code</strong></th>
          <th ><strong>Blood Group</strong></th>
          <th ><strong>Exp Date</strong></th>
          <th ><strong>Vol</strong></th>
          <th ><strong>Posted By</strong></th>
          <th><strong>Actions</strong></th>
      </thead>
      {% for product in open_products %}
        <tr>
          <td >{{ product.donor_Id }}</td>
          <td >{{ product.product_Code }}</td>
          <td >{{ product.blood_Group }}</td>
          <td >{{ product.exp_Date }}</td>
          <td >{{ product.product_Vol }}</td>
          <td >{{ product.poster.name }}</td>
          <td>
            <a href="{{ url_for('delete_entry', product_id = product.product_id) }}">Delete</a>  -
          
            <a href="{{ url_for('complete', product_id = product.product_id) }}">Mark as Complete</a>

          </td>
        </tr>

      {% endfor %}
    </table>

  </div>
</div>
<br>


<br>
<div class="container">
  <h2>Closed Products:</h2>
  <div class="datagrid">
    <table class="table table-border table-hover">
      <thead>
        <tr>
          <th><strong>Donor ID</strong></th>
          <th ><strong>Product Code</strong></th>
          <th ><strong>Blood Group</strong></th>
          <th><strong>Exp Date</strong></th>
          <th ><strong>Vol</strong></th>
          <th><strong>Posted By</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for product in closed_products %}
        <tr>
          <td >{{ product.donor_Id }}</td>
          <td >{{ product.product_Code }}</td>
          <td >{{ product.blood_Group }}</td>
          <td >{{ product.exp_Date }}</td>
          <td >{{ product.product_Vol }}</td>
          <td >{{ product.poster.name }}</td>
          <td>
             <a href="{{ url_for('delete_entry', product_id = product.product_id) }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
<div>

{% endblock %}